@import "mixins";
@import "variables";

.container {
  box-sizing: border-box;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
.container--wide {
  max-width: 1320px;
}
.container--footer {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.container--footer-row {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
