@import "mixins";
@import "variables";

.main-header {
  display: grid;

  padding-top: 40px;

  grid-template-columns: 1fr 540px 1fr;
}
.main-header__logo {
  margin-left: 18px;

  align-self: center;
}
.main-header__user-menu {
  display: flex;

  align-self: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.main-header__user-menu-item:nth-child(2n + 1) {
  margin-right: 0px;
  margin-left: auto;
}
