@import "mixins";
@import "variables";

.main-footer {
  padding-top: 70px;

  background-color: $green-light;
}
.main-footer__title {
  width: 640px;
  margin-bottom: 44px;

  text-align: center;

  line-height: 66px;
}
.main-footer__btn-wrap {
  display: flex;

  margin-bottom: 70px;

  justify-content: center;
  align-items: center;
  gap: 27px;
}
.main-footer__btn-title {
  letter-spacing: 1.1px;

  color: $orange;

  font-weight: 400;

  @include font(18px, 27px);
}
.main-footer__subscribe-btn {
  padding-right: 75px;
}
.main-footer__row-nav {
  display: grid;

  width: 100%;
  margin-bottom: 70px;

  grid-template-columns: 200px 1fr 200px;
  justify-content: space-between;
  align-items: center;
}
.main-footer_logo-value {
  margin-top: 8px;

  color: $orange;

  @include font(12px, 14px);
}
.main-footer__address {
  margin-left: auto;

  color: #124F48;

  @include font(18px, 36px);
}
.main-nav--footer {
  .main-nav__item--active {
    color: $orange;
    &::after {
      display: none;
    }
  }
}
.main-nav__site-list--footer {
  justify-content: center;
  gap: 60px;
}
.main-nav__item--footer {
  @include font(18px, 21px);

  &:hover::after {
    display: none;
  }
  &:hover {
    color: $orange;
  }
}
.main-footer__row-copy {
  width: 100%;
  padding: 21px 0;

  color: white;
  background-color: $green;
}
.main-footer__networks-list {
  display: flex;

  gap: 30px;
}
.main-footer__networks-item-link {
  display: inline-block;

  width: 18px;
  height: 18px;

  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1;
  }
}
.footer__networks-item-link--twitter {
  background-image: url("../img/logo-twitter.svg")
}
.footer__networks-item-link--fb {
  background-image: url("../img/logo-fb.svg")
}
.footer__networks-item-link--insta {
  background-image: url("../img/logo-insta.svg")
}
.footer__networks-item-link--linkedin {
  background-image: url("../img/logo-linkedin.svg")
}
.footer__networks-item-link--skype {
  background-image: url("../img/logo-skype.svg")
}
