@mixin no-indent {
  margin: 0;
  padding: 0;
}
@mixin no-mark {
  list-style: none;
}
@mixin title-font {
  font-family: "", "Georgia", serif;
}
@mixin text-font {
  font-family: "", "Arial", sans-serif;
  font-weight: bold;
}
@mixin font($size, $height: $size) {
  font-size: $size;
  line-height: $height;
}
@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('../fonts/#{$url}.woff2') format('woff2'),
		url('../#{$url}.woff') format('woff');
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}
}
