@mixin no-indent {
  margin: 0;
  padding: 0;
}
@mixin no-mark {
  list-style: none;
}
@mixin roboto($weight) {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: $weight;
}
@mixin title-font {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: bold;
}
@mixin font($size, $height: $size) {
  font-size: $size;
  line-height: $height;
}
@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		font-weight: #{$weight};
		font-style: normal;

		src: url('../fonts/#{$url}.woff2') format('woff2'),
		url('../#{$url}.woff') format('woff');
		font-display: swap;
	}
}
@mixin active {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
