@import "mixins";
@import "variables";

.page {

}
.main-header {
  margin-bottom: 70px;
}
.page__promo {
  margin-bottom: 170px;
}
.page__partners {
  margin-bottom: 97px;
}
.services {
  margin-bottom: 157px;
}
.achievements {
  margin-bottom: 125px;
}
