@import "mixins";
@import "variables";

:focus-visible {
  outline: 0;
  outline: 2px solid $orange;
}
.main-header {
  margin-bottom: 70px;
}
.page__promo {
  margin-bottom: 170px;
}
.page__partners {
  margin-bottom: 97px;
}
.services {
  margin-bottom: 157px;
}
.achievements {
  margin-bottom: 125px;
}
.blog {
  margin-bottom: 140px;
}
